<?xml version="1.0"?><robot name="ted">
	<link name="0">
		<visual>
			<geometry>
				<cylinder length="0.21275301331532537" radius="0.6738214328149634"/>
			</geometry>
		</visual>
		<collision>
			<geometry>
				<cylinder length="0.21275301331532537" radius="0.6738214328149634"/>
			</geometry>
		</collision>
		<inertial>
			<mass value="-0.041928476734819975"/>
			<inertia ixx="0.0003" iyy="0.0003" izz="0.0003"/>
		</inertial>
	</link>
</robot>
